[project]
	description = Learning spark
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/goseminoles
[access "refs/for/refs/*"]
	read = group user/goseminoles
	push = group user/goseminoles
	label-Code-Review = -2..+2 group user/goseminoles
	label-Verified = -1..+1 group user/goseminoles
	rebase = group user/goseminoles
	removeReviewer = group user/goseminoles
	submit = group user/goseminoles
[access "refs/heads/*"]
	read = group user/goseminoles
	create = group user/goseminoles
	push = +force group user/goseminoles
	pushMerge = group user/goseminoles
[access "refs/tags/*"]
	push = group user/goseminoles
	push = +force group user/goseminoles
